@charset "utf-8";

html {
    /* ブラウザのデフォルトが16px                        */
    /* デフォルトの16pxの代わりに1emが10pxになるように調整 */
    font-size: 62.5%;
  }

body{
  line-height: 1.5;
  font-size: 1.6rem; /* 16px */
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  text-align: center;
  background-color: #abecd6;
  background-blend-mode: soft-light;
  /* background-image: url(../img/backimg.jpg); */
  /* background-size: cover; */
}

header, main, footer, h1, h2, h3, p, div, table, .field, .btn-area, .container, .filler01 {
    margin: 0.5em 0em 0em 0em;
    padding: 0.1em;
}
th, td {
    line-height: 1.2em;
    padding: 0.1em;
}
/*******************************************************/
/* 見出し                                              */
/*******************************************************/
h1 {
    color: rgb(26, 212, 212);
}
h2 {
    /* color: grey; */
    color: grey;
    text-align: left;
    font-weight: 1000;
}

/*******************************************************/
/* メイン                                              */
/*******************************************************/
.container{
    background: rgb(216, 216, 216);
    border-radius: 20px;
}
/* ボタン */
.btn-area{
  margin-left:3em;
  text-align: left;
}
.btn {
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1em;
  background: rgb(26, 212, 212);
  cursor: pointer; /*カーソルをポインターの形（かたち）にする*/
}

/*******************************************************/
/* テーブル                                            */
/*******************************************************/
table{
  table-layout: fixed;/*1行目に指定された列幅の%や数値をテーブル全体に適用*/
  width: 20%;
  margin-left: 3em;
  border-collapse: separate;/* セルのボーダーを離して表示 */
  opacity: 0.9;
}
th{
  background: grey; 
}
th, td{
  padding: 0.5em 0;
  text-align: center;
}
#table1 tr{
  background: rgba(21, 216, 151, 0.2);
}
#table2 tr{
  background: rgba(216, 21, 216, 0.2);
}
.width10 {
  width: 10%;
}
.width30 {
  width: 30%;
}
.width60 {
  width: 60%;
}

.trash::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  margin: 0;
  content: ''; /*画像だけ表示したい場合は空にする。*/
  background-image: url(../img/trash_icon.png);
  background-size:contain;
}

/********************************************************/
/* レスポンシブ対応　メディアクエリを使ってCSSを切り替える */
/* https://www.design-memo.com/coding/css-media-queries */
/********************************************************/
/* mobileのときのスタイル */
@media screen and (max-width: 480px) {
  /* ボタン */
  .btn-area{
    margin-left:0.1em;
  }
  
  table{
    width: 80%;
    margin-left: 0.1em;
  }
  .width10 {
    width: 20%;
  }
  .width30 {
    width: 30%;
  }

}